//  colors
$orangeLight: #ff6e30;
$orangeDark: #bc572b;
$orangeMiddle: #ce4307;
$pinkMiddle: #f06666;
$pinkRed: #ff3030;
$pinkLight: #ffd4c1;
$white: #ffffff;
$whiteGray: #e9e9e9;
$grayLight: #cacaca;
$grayMiddle: #999999;
$grayDark: #4a4a4a;
$grayDark85: rgba(#202020, 0.85);
$grayBlack: #202020;

// layout
$gap: 30px;

